

<div class="container">
    <div class="row " style="margin-bottom:90px; margin-top:90px">

<div class="col-6  product-left">
    <div class="product-img">
        <div class="product-right-head d-md-none">
            <h1 style="text-align: center; font-size: 24px ; color: black; font-weight: 600;">HTC Touch HD</h1>

        </div>

        <h2 class="d-md-none" style="text-align: center; font-size: 19px;color: black;">$122.00</h2>

        <div class="image-video-first d-flex">

            <img data-enlargable
                         class="img-fluid me-2"
                 width="350"
                 height="auto"
                 src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/3b27eb2b-da90-4a12-bb43-a093ca26b4a3/free-run-5-mens-road-running-shoes-Xp40hf.png"
                 alt="" />
                    <video width="350" height="auto" autoplay muted src="https://static.nike.com/a/videos/q_90,vc_vp9/f0f78987-8798-4541-ac93-aea03321cb5d/video.webm"></video>
               
        </div>
        <div class="image-second d-flex my-2 ">
                    <img data-enlargable
                         class="img-fluid me-2"
                         width="350"
                         height="auto"
                         src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/9c72fc47-b20c-41f4-afca-afd01d011df9/free-run-5-mens-road-running-shoes-Xp40hf.png"
                         alt="" />
                    <img data-enlargable
                         class="img-fluid"
                         width="350"
                         height="auto"
                         src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/9c72fc47-b20c-41f4-afca-afd01d011df9/free-run-5-mens-road-running-shoes-Xp40hf.png"
                         alt="" />
        </div>

    </div>
        </div>
<div class="col-6 product-right" style="padding-left:90px" >
    <div class="product-right-head d-none d-md-block">
                <h3>Nike Free Run 5.0</h3>
    </div>
    <div class="description">
        <p style="font-size:14px">
                    Men's Road Running Shoes
        </p>
    </div>
    <div class="price">
        <span style="font-weight:600">70$</span>
    </div>
    <div class="shop d-flex" style="margin-top:60px; margin-bottom:60px"> 
        <input type="text"
               value="1"
               size="2"
               id="shopInput"
               class="form-control shopinput"
               style="width: auto" />
        <button type="button"
                class="btn btn-primary btn-lg btn-block addtoCart ms-3"
                style="background-color:red">
            ADD TO CART
        </button>
                <button type="button" class="btn btn-default wishlist me-2 ms-3" style="background-color:red;">
            <i class="fa-regular fa-heart " style="color:white"></i>
        </button>
                <button type="button" class="btn btn-default exchange" style="background-color:red;">
            <svg style="color:white" xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-bar-chart-line-fill"
                 viewBox="0 0 16 16">
                <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z" />
            </svg>
        </button>
    </div>
            <div class="category" style="margin-bottom:40px">
                <span>Shoes</span>
            </div>

    <div class="more-description" style="width:58%">
                Be cool. Stay cool. The AJ6 "Cool Grey" lets your style take flight with a colorway rooted to Jordan Brand DNA. MJ wore 'em when he claimed his first championship and you'll be wearing 'em for—well, whatever you want. Laden with sleek features like dynamic design lines and an iced outsole, these sneakers bring speed and class to any 'fit. After all, they were famously inspired by Jordan's (wait for it) COOL sports car. So lace up, and let your kicks do the rest.
    </div>

    </div>
    </div>
   
